@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900;
}

.rotation {
    animation-name: spin;
    animation-duration: 4s;
}


@keyframes spin {
    20% {
        transform: rotateY(0deg);
    }
                40% {
                    transform: rotateY(90deg);
                }

                60% {
                    transform: rotateY(180deg);
                }

                80% {
                    transform: rotateY(270deg);
                }
                100% {
                    transform: rotateY(360deg);
                }

}

